server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/payflow
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  data:
    redis:
      host: localhost
      port: 6380

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  pattern:
    level: "%5p [cid=%X{cid}]"

resilience4j:
  circuitbreaker:
    instances:
      stripe:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 20          # son 20 çağrıya bak
        failureRateThreshold: 50       # %50den fazla hata ozaman OPEN
        permittedNumberOfCallsInHalfOpenState: 5
        waitDurationInOpenState: 10s   # 10 saniye sonra HALF_OPEN
        automaticTransitionFromOpenToHalfOpenEnabled: true